@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
* { font-family: "Josefin Sans"; }
body {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-size: 16px;
    margin: 0;
}
button { 
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    box-shadow: 0 8px 15px 2px hsla(0, 6%, 24%, 0.151);
    position: absolute;
    right: 0;
    height: 3.5rem;
    width: 6rem;
    border-radius: 30px;
}
button:hover {
    background: hsl(0, 80%, 86%);
    cursor: pointer;
    box-shadow: 0 8px 15px 2px hsla(0, 6%, 24%, 0.397);
}
form {
    display: flex;
    position: relative;
    height: 3.5rem;
    padding-top: 2rem;
}
h1 {
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 16px;
    color: hsl(0, 6%, 24%);
}
input { 
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    font-size: 16px;
    opacity: 50%;
    width: 100%;
    padding-left: 1.5rem;
    mix-blend-mode: darken;
}
input.invalid { border: 2px solid red; }
p, span { color: hsl(0, 36%, 70%); }
p {line-height: 1.5;}
span {font-weight: 300;}
#error {
    color: hsl(0, 74%, 74%);
    position: absolute;
    bottom: -1.5rem;
    left: 1.5rem;
}
::placeholder { color: hsl(0, 36%, 70%); }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(0, 6%, 24%); }
.container {
    display: grid;
    grid-template-columns: 65% auto;
    overflow: hidden;
}
.content { width: 27.5rem; }
.footer { align-self: center; }
.hero-dk { height: 100vh; }
.hero-mb {display: none;}
.left-column {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    display: grid;
    justify-content: center;
}
.logo { margin: 4rem 0; }
.warning {
    position: absolute;
    right: 7rem;
    width: 1.5rem;
    align-self: center;
}
@media screen and (max-width: 1092px) {
    .container { grid-template-columns: 55% auto; }
}
@media screen and (max-width: 890px) {
    .container { 
        display: block;
        width: 100%;
    }
    .content { width: auto; }
    .hero-dk { display: none; }
    .hero-mb {
        display: block;
        margin: auto;
    }
    .left-column {
        background-image: none;
        display: initial;
    }
    .logo { margin: 2rem 10% 3rem;}
    .text { 
        padding: 2rem 20% 5rem;
        text-align: center;
    }
}
@media screen and (max-width: 630px) {
    h1 { font-size: 48px; }
    .hero-mb { width: 100%;}
    .text { padding: 2rem 10% 5rem; }
}
@media screen and (max-height: 700px) {
    .hero-dk { height: auto; }
}